@media (max-width:1720px) {
  .getPrices{
    &_wrapper{
      &_textBtn{
        &_btn{
          width: 1000px;

        }
      }
    }
  }
}
@media (max-width:1600px) {
  .getPrices{
    &_wrapper{
      &_textBtn{
        gap: 17px;
        &_btn{
          width: 850px;
          height: 150px;
          button{
            width: 200px;
          }
        }
      }
    }
  }
}
@media (max-width:1440px) {
  .getPrices{
    &_wrapper{
      height: 600px;
      img{
        height: 100%;
      }
      &_img1{
        left: 115px;
      }
      &_img2{
        right: 115px;
      }
      &_textBtn{
        gap: 17px;
        &_btn{
          width: 720px;
          height: 130px;
          button{
            width: 200px;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .getPrices{
    &_wrapper{
      &_textBtn{
        &_btn{
          width: 620px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .getPrices{
    margin-top: 40px;
    &_wrapper{
      height: 400px;
      &_img1{
        left: 110px;
      }
      &_img2{
        right: 110px;
      }
      img{
        height: 100%;
      }
      &_textBtn{
        &_btn{
          width: 600px;
          height: 130px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .getPrices{
    margin-top: 30px;
    &_wrapper{
      &_img1{
        left: 60px;
      }
      &_img2{
        right: 60px;
      }
      img{
        height: 65%;
        top: 100px;
      }
      &_textBtn{
        span{
          font-size: 20px;
        }
        &_btn{
          width: 380px;
          height: 70px;
          button{
            width: 181px;
            height: 40px;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .getPrices{
    &_wrapper{
      &_img1{
        left: 50px;
      }
      &_img2{
        right: 50px;
      }
      img{
        height: 50%;
        top: 80px;
      }
      &_textBtn{
        &_btn{
          width: 264px;
          height: 70px;
          button{
            width: 161px;
            height: 37px;
          }
        }
      }
    }
  }
}
