@media (max-width:1720px) {
  .sidebarAndBanner{
    &_wrapper{
      &_sidebar{
        &_category{
          gap: 45px;
          &_div{
            width: 50px;
          }
        }
      }
      &_banner{
       gap: 30px;
        &_example{
          gap: 25px;
          &_text{
            gap: 25px;
            &_btn{
              width: 75%;
            }
          }
        }
      }
    }
  }
}
@media (max-width:1600px) {
  .sidebarAndBanner{
    &_wrapper{
      gap: 10px;
      &_sidebar{
        &_category{
          gap: 30px;
          &_div{
            width: 50px;
          }
        }
      }
      &_banner{
        gap: 25px;
        &_example{
          gap: 25px;
          &_text{
            gap: 25px;
            &_btn{
              width: 75%;
            }
          }
        }
      }
    }
  }
}
@media (max-width:1440px) {
  .sidebarAndBanner{
    &_wrapper{
      gap: 20px;
      &_sidebar{
        &_category{
          gap: 20px;
          &_div{
            width: 40px;
          }
        }
      }
      &_banner{
        gap: 15px;
        &_example{
          gap: 25px;
          &_text{
            gap: 25px;
            &_btn{
              width: 75%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .sidebarAndBanner{
    &_wrapper{
      gap: 5px;
      display: grid;
      grid-template-columns: 21% auto;
      &_sidebar{
        &_category{
          gap: 20px;
          &_div{
            width: 40px;
            img{
              width: 40px;
              height: 50px;
            }
          }
        }
      }
      &_banner{
        gap: 10px;
        &_example{
          gap: 25px;
          &_text{
            gap: 25px;
            &_btn{
              width: 75%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .sidebarAndBanner{
    &_wrapper{
      gap: 5px;
      display: flex;
      &_sidebar{
        display: none;
      }
      &_banner{
        gap: 10px;
        &_example{
          gap: 25px;
          &_text{
            gap: 25px;
            &_btn{
              height: 40px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .sidebarAndBanner{
    &_wrapper{
      gap: 5px;
      display: flex;
      &_sidebar{
        display: none;
      }
      &_banner{
        gap: 10px;
        &_example{
          gap: 15px;
          &_text{
            gap: 15px;
            &_btn{
              width: 75%;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .sidebarAndBanner{
    &_wrapper{
      gap: 15px;
      flex-direction: column;
      &_banner{
        &_exampleimg1{
          border-radius: 10px;
        }
        &_exampleimg2{
          border-radius: 10px;
        }
        &_example{
          gap: 8px;
          &_textimg1{
            border-radius: 10px;
          }
          &_textimg2{
            border-radius: 10px;
          }
          &_text{
            gap: 5px;
            &_NEW{
              font-size: 10px;
            }
            &_btn{
              display: none;
            }
            &_btnDop{
              display: inline;
            }
          }
        }
      }
    }
  }
}
